body {
    font: 18px  sans-serif;
    font-weight: bold;
    margin: 0px;
    background-color: #D2EDFC;
    padding: 15px;
}

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 5px 20px;
    background-color: whitesmoke;

}

#nav-list {
    display: inline-block;
    margin: 0px;
}
#nav-list li {
    display: inline-block;
    margin-left: 15px;
}

#nav-list a {
    color: #005F89;
}

#nav-list a:visited {
    color: #005F89;
}

.header {
    background-color: #005F89;
    margin: 30px 0px;
    padding: 5px 30px;
    color: #D2EDFC;
}

.game-state {
    overflow: hidden;
}



.header ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0.5em;
}

.header li {
    display: inline-block;
    width: 200px;
    padding: 5px 15px;
}

.moves-list {
    margin: 10px;
    border: 3px solid #0091C6;
    border-collapse: collapse;
    color: #084863;
}

.moves-list tr {
    background-color: #90D4FB;
}

.moves-list tr:nth-child(odd) {
  /*  background-color: #0091C6; */
    background-color: #BDE4F9;
}
.moves-list td, .moves-list th {
    padding: 10px 20px;
    text-align: left;
}

.moves-list th {
    border-top: 1px solid #0091C6;
    border-bottom: 1px solid #0091C6;
}